You are detecting the primary industry domain of a set of client content policies.

Given the policies below, identify the single most relevant domain from this list:
{{ domain_list }}

Return just the domain key. If none fits well, return "general".